# IMO checksum
* IMO number checker
    - For example, for IMO 9074729: (9×7) + (0×6) + (7×5) + (4×4) + (7×3) + (2×2) = 139
* IMO number generator
* IMO amount of IMO numbers possible between two endpoints
* 2024-02-03

# Import

## Import packages

In [1]:
# data wrangling
import pandas as pd
import numpy as np

# random
from random import randint

## Import test data

In [4]:
imo_numbers = [
    9224764,
    9839179,
    9839143,
    2131212,
    213213,
    7677124,
    6809082,
    4660961,
    12,
    9226281,
    "",
]

df = pd.DataFrame(imo_numbers, columns=["imo_number"])

## Import functions

In [5]:
def imo_checker_binary(string: str) -> str:
    """
    validates a single IMO number
    args: a string, a possible single IMO number
    returns: binary True/False
    """
    try:
        # cast a string as an integer, if impossible return false, see except clause
        string_test = int(string)
        string = str(string)

        # extract checksum digit from IMO number
        checksum = str(
            (int(string[-7]) * 7)
            + (int(string[-6]) * 6)
            + (int(string[-5]) * 5)
            + (int(string[-4]) * 4)
            + (int(string[-3]) * 3)
            + (int(string[-2]) * 2)
        )

        # check if last digit of checksum is equal to last digit of IMO number (return true/false)
        if checksum[-1] == string[-1]:
            return True
        else:
            return False

    except (ValueError, IndexError) as e:
        return False


def imo_checker(string: str) -> str:
    """
    checks if a string is an IMO number and returns valid IMO number
    args: a char possible IMO number, char length 7
    returns: a valid imo number or none
    """
    string = str(string)

    # extract checksum digit from IMO number
    checksum = str(
        (int(string[-7]) * 7)
        + (int(string[-6]) * 6)
        + (int(string[-5]) * 5)
        + (int(string[-4]) * 4)
        + (int(string[-3]) * 3)
        + (int(string[-2]) * 2)
    )

    # check if last digit of checksum is equal to last digit of IMO number (return IMO number)
    if checksum[-1] == string[-1]:
        return string


def gen_imo_number(amount_imo_numbers: int) -> list:
    """
    generates valid synthetic IMO numbers
    args: number of IMO numbers
    returns: list of valid IMO numbers
    """

    # initiate list
    valid_imo_number_list = []

    # while loop to create desired amount of IMO numbers
    while len(valid_imo_number_list) < amount_imo_numbers:
        random_integer = randint(5000000, 9999999)
        valid_imo_number = imo_checker(random_integer)
        if valid_imo_number is not None:
            valid_imo_number_list.append(valid_imo_number)
    return valid_imo_number_list


# def convert_number_to_arabic(string):
#     try:
#         return convert_numbers.english_to_arabic(string)
#     except ValueError as e:
#         return np.nan


# def convert_arabic_to_number(string):
#     try:
#         return convert_numbers.arabic_to_english(string)
#     except ValueError as e:
#         return np.nan

# Validate IMO numbers

In [6]:
df["test"] = df["imo_number"].apply(imo_checker_binary)
df

   imo_number   test
0     9224764   True
1     9839179   True
2     9839143   True
3     2131212  False
4      213213  False
5     7677124  False
6     6809082   True
7     4660961  False
8          12  False
9     9226281   True
10             False

# Generate IMO numbers

In [7]:
%%time
gen_imo_numbers = gen_imo_number(10000)
df_gen = pd.DataFrame(gen_imo_numbers, columns=["imo_number"])
df_gen.head(20)

CPU times: total: 156 ms
Wall time: 165 ms

   imo_number
0     8235390
1     9855197
2     6368612
3     7215238
4     7032545
5     5633761
6     7377115
7     6296857
8     8690461
9     7345655
10    7034816
11    7246225
12    9114397
13    6313318
14    5094460
15    6384408
16    8052841
17    9721322
18    7903483
19    8031237

# How many IMO numbers are valid options

In [8]:
%%time

list_of_numbers = list(range(5000000, 10000000))
print(len(list_of_numbers))

df_options = pd.DataFrame(list_of_numbers, columns=["imo_number"])
df_options["test"] = df_options["imo_number"].apply(imo_checker_binary)

df_options[(df_options["test"] == True)].shape

5000000
CPU times: total: 5.5 s
Wall time: 5.69 s

(500000, 2)

In [9]:
df_true = df_options[(df_options["test"] == True)]

In [11]:
df_true["test"] = df_true["imo_number"].astype(str).str[5:7]

C:\Users\marte\AppData\Local\Temp\ipykernel_3060\3788611040.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true["test"] = df_true["imo_number"].astype(str).str[5:7]

In [12]:
df_true.head(10)

    imo_number test
5      5000005   05
17     5000017   17
29     5000029   29
31     5000031   31
43     5000043   43
55     5000055   55
67     5000067   67
79     5000079   79
81     5000081   81
93     5000093   93

In [13]:
# df_true['test'].unique()